---
import { getEntry } from "astro:content";
const Data = await getEntry("comman", "footerheader");
const footer = Data.data.footer;
---


<footer>
  <div class="py-[20px] w-full flex items-center justify-center bg-[#2FB7B8]">
    <p class="text-base text-center font-normal text-white decoration-white">
      {footer.finance}
      <span>
        <button
          class="duration-300 underline underline-offset-8 text-[17px] hover:text-lg"
          >{footer.finance_underline}</button
        >
      </span>
    </p>
  </div>
  <div class="footer-container w-full flex px-[10%] py-[50px]">
    <div class="first-section w-[30%]  bg-white flex  flex-col items-start justify-start">
      <img src="/assets/images/greenlogo.png" class="h-12" />
      <p class="text-xs text-[#858C97] mt-[20px] w-5/6">{footer.description}</p>
      <p class="text-[#858C97] text-xs mt-[64px]">{footer.copyrights}</p>
    </div>
    <div class="w-[20%] flex flex-col pt-[20px] gap-y-3">
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;" href="/"
        ><p>why dataFlow</p></a
      >
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"  href="/Pricing"
        ><p>Pricing</p></a
      >
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"  href="/learn"
        ><p>Learn</p></a
      >
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"  href="/Company"
        ><p>company</p></a
      >
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"  href="/blog"
        ><p>Blog</p></a
      >
    </div>
    <div class="w-[30%] flex flex-col pt-[20px] pr-[5%] gap-y-3">
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"  href="/RunDataAnyCloud"
        ><p>Run Dataflow on any cloud</p></a
      >
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"  href="/ManageYourData"
        ><p>Manage your data connection across tools</p></a
      >
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"  href="/pythondependency"
        ><p>Say goodbye to Python dependency</p></a
      >
    </div>
    <div class="w-[30%] flex flex-col pt-[20px] gap-y-3">
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"  href="/BookDemo"
        ><p>Book Now</p></a
      >
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"  href="/Contact-us"
        ><p>Contact us</p></a
      >
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"  href="/Termsandconditions"
        ><p>Terms and Conditions</p></a
      >
    </div>
    <div class="w-[20%] flex flex-col pt-[20px] gap-y-3">
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"
        ><p>+ 1 526 220 0444</p></a
      >
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"
        ><p>+ 1 526 220 0444</p></a
      >
      <a class="text-base text-textblack hover:text-primary" style="font-family: Arimo;"
        ><p>Email@email.com</p></a
      >
    </div>
  </div>
</footer>

<style>
  @media (max-width: 440px) {
  footer {
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column;
    padding: 20px;
  }

  .footer-container > div {
    width: 100%;
    padding: 10px 0;
  }

  .footer-container .first-section {
    order: 5;
  }

  .footer-container a p:hover {
    color: var(--test-primary);
  }
}

</style>
