---

---

<style>
    .navbar{
        
    }
    .nav-link{
        color:rgba(255, 255, 255, 0.90);
        font-size:1.2rem;
        font-weight: 500;
        line-height: 150%;
        font-family: 'Inter';
    }
    .nav-link:hover{
      color:white !important;
    }
    .buyNow-btn{
        padding: 0.5rem 2.25rem;
        font-size: 1rem !important;
        border-radius: 7px;
        background-color: white;
        color:var(--primary)
    }
</style>

<header class="navbar navbar-expand-xl"  style="background-color: var(--primary) !important;">
  <div class="container">
    <a href="/" class="navbar-brand">
      <span class="text-primary flex-shrink-0 me-2">
        <img src="/assets/images/logo.svg" height="55"/>
      </span>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <nav class="collapse navbar-collapse" id="navbarCollapse1" style="background-color: var(--primary);">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/why-dataflow">Why Dataflow?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/company">Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
      </ul>
      <a
        class="btn btn-primary mb-1 buyNow-btn"
        href="/book-demo"
        target="_blank"
        rel="noopener"
      >
        Book a demo
      </a>
    </nav>
  </div>
</header>


