<div class="w-[420px] h-[420px]  rounded-full border-gray-400 z-0 border-dashed border-[3px] relative scale-110">
  <div class="h-[75px] w-[75px] bg-[#C0FFFF] rounded-full absolute top-[65px] -left-2 z-20 shadow-md circle1"> <img src="/assets/images/theia-ide.png"/></div>
  <div class="h-[75px] w-[75px] bg-[#C0FFFF] rounded-full absolute bottom-[65px] -left-2 z-10 shadow-md circle2 p-4"> <img src="/assets/images/star.png"/></div>
  <div class="h-[75px] w-[75px] bg-[#C0FFFF] rounded-full absolute top-[65px] -right-2 z-10 shadow-md circle5 py-5 px-1"> <img src="/assets/images/miflow.png"/></div>
  <div class="h-[75px] w-[75px] bg-[#C0FFFF] rounded-full absolute bottom-[65px] -right-2 z-10 shadow-md circle4 p-5"> <img src="/assets/images/\/dbt.png"/></div>
  <div class="h-[75px] w-[75px] bg-[#C0FFFF] rounded-full absolute left-[170px] bottom-[375px] shadow-md z-10 circle6"> <img src="/assets/images/dashapps.png"/></div>
  <div class="h-[75px] w-[75px] bg-[#C0FFFF] rounded-full absolute right-[170px] top-[375px] z-10 shadow-md circle3 p-5 pb-6"> <img src="/assets/images/pytorch.png"/></div>

  <div class="h-full w-full rounded-full  outerspin ">
     <div class="h-8 w-8 bg-white rounded-full z-10  absolute top-5 left-[75px] drop-shadow-lg"></div>
     <div class="h-full w-full  rounded-full innerspin  flex items-center justify-center">
      <div class="h-52 w-52 bg-white   border-gray-400 border-dashed border-[3px] outerspin  rounded-full relative">
        <div class="h-[75px] w-[75px] bg-white rounded-full absolute left-0  z-10 shadow-md"> <img src="/assets/images/jupyter.png"/></div>
        <div class="h-[75px] w-[75px] bg-white rounded-full absolute left-[155px] top-12 z-10 shadow-md p-3"> <img src="/assets/images/apache airflow.png"/></div>
        <div class="h-[75px] w-[75px] bg-white rounded-full absolute top-[155px] left-12 z-10 shadow-md p-5"> <img src="/assets/images/dash.png"/></div>
      </div>

     </div>
  </div>

</div>


<style>
.outerspin{
animation: outerspin 5s linear infinite;

}
.innerspin{
animation: innerspin 5s linear infinite;

}
@keyframes outerspin {
0% { transform: rotate(0deg); }
100% { transform: rotate(-360deg); }
}
@keyframes innerspin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}


.circle1{
animation: colorchange 5s linear infinite;
}
.circle2{

animation: colorchange 5s linear infinite;
animation-delay: 1s;
}
.circle3{

animation: colorchange 5s linear infinite;
animation-delay: 1.8s;
}
.circle4{

animation: colorchange 5s linear infinite;
animation-delay: 2.5s;
}
.circle5{

animation: colorchange 5s linear infinite;
animation-delay: 3.5s;
}
.circle6{

animation: colorchange 5s linear infinite;
animation-delay: 4.3s;
}
@keyframes colorchange {
5% {
  background-color: rgba(255, 255, 255, 0.9);
 }
70%{
  background-color: #C0FFFF;
}

}


</style>