---
import Membercard from '../Company/Membercard.astro'
import { getEntry } from 'astro:content'

const Data = await getEntry('Allmembers', 'allmember')
const data = Data.data

const { photo, name, position, description } = Astro.props
---

<div
  class='responsive-container w-full py-20 flex justify-center items-center gap-x-[5%]'
>
  <div class='w-1/2 mb-5 container1'>
    <p class='container1 text-lg text-textblack'>
      {description}
    </p>
  </div>
  <Membercard photo={photo} name={name} position={position} />
</div>
<style>
  @media (max-width: 500px) {
    .responsive-container {
      flex-direction: column-reverse;
      height: auto;
      padding: 10px;
    }
    .container1 {
      width: 100%;
      margin-bottom: 20px;
    }
  }
</style>
