---
import Memebercard from "../Company/Memebercard.astro";
import { getEntry } from "astro:content";

const Data = await getEntry("Allmembers", "allmember");
const data = Data.data;
console.log(data)
---
<div class=" responsive-container w-full h-screen flex justify-center items-center gap-x-[5%]">
    <div class="w-1/2 mb-5 container1">
        <p class=" container1 text-lg text-textblack">{data.members[0].description}</p>
        </div>
    <Memebercard/>
   
</div>
<style>
    @media (max-width: 400px) {
    .responsive-container {
      flex-direction: column-reverse;
      height: auto;
       padding: 10px;
    }
    .container1 {
    width: 100%;
    margin-bottom : 20px;
    }
  }
</style>