---
import { getEntry } from 'astro:content'
import CustomButton from '../../common/CustomButton.astro'

const Data = await getEntry('features', 'python-dependency-hell')
const data = Data.data
const button = Data.data.button
---

<div
  class="container-top z-10 min-h-screen w-full py-10 pt-16 flex items-center justify-center max-sm:flex-col max-sm:py-[30px] max-sm:px-[20px] max-sm:justify-start max-sm:items-start max-sm:min-h-max"
>
  <div class="absolute left-0 top-0 z-[-1]">
    <img
      src="/public/assets/images/dataflow-bg-pattern.svg"
      alt="dataflow-bg-pattern"
    />
  </div>
  <div class="w-2/5 flex flex-col gap-8 max-md:w-[90%]">
    <h1
      class="text-5xl max-md:text-5xl max-sm:text-2xl leading-snug tracking-wide font-bold text-black"
    >
      {data.title}
    </h1>
    <p class="text-lg max-sm:text-sm w-10/12 text-textblack leading-tight">
      {data.description}
    </p>
    <CustomButton href={"https://docs.dataflow.zone/getting-started/installation"} label={data.cta_text} target="_blank" />
  </div>
  <div class="img-container max-md:hidden w-2/5 bg-white h-auto">
    <img
      src="/assets/images/python-dependency.svg"
      alt="Run on Any Cloud"
      class="transition-all duration-400 ease-in-out group-hover:scale-125"
    />
  </div>
</div>


<style>
  .custom-button:hover {
    background-color: #30baba;
  }

  .button-img {
    filter: brightness(0) invert(1);
  }
  @media (max-width: 440px) {
    .text-container {
      width: 100%;
      margin-bottom: 40px;
    }
    .img-container {
      width: 100%;
      height: auto;
    }
  }
</style>
