---
const { title, description, image } = Astro.props
---

<div
  class='card transition duration-500 ease w-[340px] min-h-[220px] py-10 p-8 m-2 flex flex-col gap-4 items-start justify-evenly bg-[#F8FAFC] rounded-3xl hover:bg-[#364152] group'
>
  <div class='w-[30px] h-[30px]'>
    <img src={image} class='w-full h-full object-contain' />
  </div>
  <h3 class='text-lg text-textblack font-bold group-hover:text-white'>
    {title}
  </h3>
  <p class='text-xs text-[#576071] leading-relaxed group-hover:text-white'>
    {description}
  </p>
</div>
