---
const { photo,name,position } = Astro.props
---

<div class='min-h-[340px] border-b-[1px] border-[#E3E9EF] py-3 max-sm:my-2'>
  <img
    class='w-[320px] max-sm:h-max h-[427px] rounded-3xl contain'
    src={photo}
  />
  <p class='mx-2 mt-2 text-base text-textblack'>{name}</p>
  <p class='mx-2 text-base text-gray-400'>{position}</p>
</div>
