---

---

<div class='min-h-[340px] border-b-[1px] border-[#E3E9EF] py-3'>
  <img
    class='w-[320px] h-max rounded-3xl'
    src='/assets/images/membercardimage.png'
  />
  <p class='mx-2 mt-2 text-base text-textblack'>Nick Yarris</p>
  <p class='mx-2 text-base text-gray-400'>Web designer</p>
</div>
