---

---

<div class="w-[18vw] h-[26vw] min-w-[250px] min-h-[340px]  ">
    <img class=" w-full h-[80%]" src="assets/images/membercardimage.png"/>
    <p class="mx-2 mt-2 text-base text-textblack" style="font-family: Arimo;">Nick Yarris</p>
    <p class="mx-2 text-base text-gray-400"  style="font-family: Arimo;">Web designer</p>
</div>