---
import { getEntry } from "astro:content";
import RingAnimation from "../common/RingAnimation.astro";

const Data = await getEntry("company", "company");
const data = Data.data.journey;
const button = Data.data.button;
---

<div
  class="w-full flex max-md:flex-col items-center justify-center min-h-[900px] px-10 max-sm:px-4 py-20 max-sm:flex-col max-sm:py-10"
>
  <div class="flex-[1] flex items-center justify-center lg:scale-125 max-md:scale-90 max-sm:scale-50">
    <RingAnimation />
  </div>
  <div class="flex-[1] max-sm:w-full">
    <h1
      class="text-5xl w-10/12 max-md:w-full max-sm:text-3xl tracking-wide leading-tight font-bold mb-[5%] max-md:mt-20 max-sm:mt-14 text-textblack"
    >
      {data.title}
    </h1>
    <p class="text-lg w-10/12 max-md:w-full text-textblack">{data.description}</p>
  </div>
</div>
