---
const{title,description,image}=Astro.props

---

<div class="card transition-all duration-100 ease-in-out min-w-[250px] min-h-[220px] w-[27vw] h-[18vw]  p-2 pb-[2vw] flex flex-col items-start justify-evenly bg-primary rounded-3xl">
    <div class="w-[3vw] h-[3vw] min-w-[30px] min-h-[30px]">
      <img src={image} class="w-full h-full object-contain image-container" />
    </div>
    <h3 class="text-lg text-white ">{title}</h3>
    <p class="text-sm text-white">{description}</p>
  </div>    
