---
import { getEntry } from "astro:content";
const Data = await getEntry("company", "company");
const data = Data.data.section2;
console.log(data)
import Membercard from "./Memebercard.astro"
---

<div class="py-24 w-full  flex items-start justify-center">
   <div class="w-[25%]">
    <p class="text-8calc font-bold text-textblack" style="font-family: Arimo;">{data.title}</p>
    <button class=" flex bg-white py-2 px-3 text-primary items-center mt-10 gap-x-2 shadow-md rounded-lg hover:-translate-y-1" style="font-family: Roboto;">
        {data.button}
        <img src="/assets/images/arrowright.svg" height="20px" width="20px">
      </button>
   </div>
   <div class=" flex flex-col itesm-between justity-between gap-y-14">
    <div class="w-full flex flex-wrap gap-x-10">
        <Membercard/>
        <Membercard/>
    </div>
    <div class="w-full flex flex-wrap gap-x-10">
        <Membercard/>
        <Membercard/>
    </div>
   </div>
</div>