---
import { getEntry } from "astro:content";

const Data = await getEntry("company", "company");
const data = Data.data.section1;
const button = Data.data.button;
---
<div class=" container-top w-full  py-24 flex items-center justify-center">

    <div class="text-container w-6/12">
        <h1 class="text-calc font-bold mb-[5%] text-textblack w-11/12" style="font-family: Arimo;">{data.title}</h1>
        <p class="text-lg w-11/12 text-textblack" style="font-family: Arimo;">{data.description}</p>
      </div>
      <div class="w-[25%] img-container">
        <img src="/assets/images/companysection1image.png" class="img-container"/>
        </div>
</div>
<style>

.custom-button:hover {
    background-color: #30BABA;
  }

  .button-img {
    filter: brightness(0) invert(1);
  }
  @media (max-width:500px) {
     .container-top{
      width: 100%;
      height: auto;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      padding-bottom: 30px;
        flex-direction:column;
     }
    .text-container{
        width: 100%;
        margin-bottom: 20px;
    }
    .img-container{
        width: 100%;
        height:auto;
    }
  }
</style>