---
import { getEntry } from "astro:content";
const Data = await getEntry("company", "company");
const data = Data.data.team_members;

import MemberCard from "./MemberCard.astro";
import TeamMemberCard from "./TeamMemberCard.astro";
const members = data.members || [];
---

<div
  id="team"
  class="py-16 px-[10%] w-full flex flex-col max-md:flex-col items-center justify-center"
>
  <div class="">
    <p class="text-8calc font-bold text-textblack leading-tight">
      {data.title}
    </p>
  </div>
  <div class="flex justify-center w-full px-10 max-sm:px-4">
    <div class="grid grid-cols-3 max-md:grid-cols-1 gap-8 mt-10">
      {
        members.map((member) => (
          <TeamMemberCard
            photo={member.photo}
            name={member.name}
            position={member.position}
            bio={member.bio ?? ''}
          />
        ))
      }
    </div>
  </div>
</div>
