---
import { getEntry } from 'astro:content'
import Card from './Card.astro'
const Data = await getEntry('company', 'company')
const data = Data.data.empower_your_journey
const features = data.features || []
---

<div class='w-full py-20 pt-10 flex flex-col items-center justify-center max-sm:px-[20px]'>
  <h3 class='text-8calc text-textblack text-center max-sm:text-left font-bold mb-12' data-aos="fade-up" data-aos-duration="700" data-aos-offset="200">
    {data.title}
  </h3>
  <div class='w-full flex justify-center' data-aos="fade-up" data-aos-duration="700" data-aos-offset="350">
    <div class='grid grid-cols-3 max-md:grid-cols-1 gap-6 w-fit'>
      {
        features.map((feature: any) => (
          <Card
            image={feature.image}
            title={feature.title}
            description={feature.description}
          />
        ))
      }
    </div>
  </div>
</div>
