---
  const{feature} = Astro.props
---
<div class="flex items-center gap-x-3 mb-4">
    <img src="/assets/images/rightsidearrow.png" class="w-5 h-5"/>
    <p  class="text-base text-textblack" style="font-family: Arimo;" >{feature}</p>
  </div>