---
const{option1,option2,title} = Astro.props
---

<div class="w-4/5 flex justify-center plancontainer">
    <div class="w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex flex-col justify-center px-5  min-w-[200px] pricelistfeature">
      <p  class="text-lg text-textblack  " style="font-family: Arimo;" >{title}</p>
    </div>
    {
        option1 === "yes" ? (
          <div class="planstatus w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
            <img src="/assets/images/verifiedlogo.png" />
          </div>
        ) : option1 === "no" ? (
          <div class="w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
            <p class="text-gray-500 text-3xl font-semibold">-</p>
          </div>
        ) : (
          <div class="w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
          <p class="text-gray-500 text-lg font-semibold ">{option1}</p></div>
        )
      } 
      {
        option2 === "yes" ? (
          <div class="planstatus w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
            <img src="/assets/images/verifiedlogo.png" />
          </div>
        ) : option2 === "no" ? (
          <div class="w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
            <p class="text-gray-500 text-3xl font-semibold">-</p>
          </div>
        ) : (
          <div class="w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
           <p class="text-gray-500 text-lg font-semibold ">{option2}</p>
          </div>
        )
      }
  </div>