---
const{option1,option2,option3,title} = Astro.props
---

<div class="w-full flex plancontainer">
    <div class=" w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex flex-col justify-center px-5 width100">
      <p  class="text-lg text-textblack  " style="font-family: Arimo;" >{title}</p>
    </div>
    {
        option1 === "yes" ? (
          <div class=" w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
            <img src="/assets/images/verifiedlogo.png" />
          </div>
        ) : option1 === "no" ? (
          <div class="w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
            <p class="text-gray-500 text-3xl font-semibold">-</p>
          </div>
        ) : (
          <div class="w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
          <p class="text-gray-500 text-lg font-semibold ">{option1}</p></div>
        )
      } 
      {
        option2 === "yes" ? (
          <div class="w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
            <img src="/assets/images/verifiedlogo.png" />
          </div>
        ) : option2 === "no" ? (
          <div class="w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
            <p class="text-gray-500 text-3xl font-semibold">-</p>
          </div>
        ) : (
          <div class="w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
           <p class="text-gray-500 text-lg font-semibold ">{option2}</p>
          </div>
        )
      } 
      {
        option3 === "yes" ? (
          <div class="planstatus w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
            <img src="/assets/images/verifiedlogo.png" />
          </div>
        ) : option3 === "no" ? (
          <div class="w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
            <p class="text-gray-500 text-3xl font-semibold">-</p>
          </div>
        ) : (
          <div class="w-1/4 h-[90px] border border-solid border-[#E6E9F5] flex items-center justify-center px-5 planstatus">
        <p class="text-gray-500 text-lg font-semibold ">{option3}</p>
          </div>
        )
      }

  </div>
  <style>
@media (max-width:600px) {
  .container-price1{
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 30px;
   padding-bottom: 30px;
  }
  .container-price2{
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 30px;
   padding-bottom: 30px;
  }
 .text-container1{
     width: 100%;
     margin-bottom: 40px;
     padding: 20px;
     text-align:center
 }
 .toggle-container{
          flex-direction: column;
 }
 .img-container{
     width: 100%;
     height:auto;
 }

 .planstatus{
        padding: 10px;
        padding-left: 20px;
        width: 33.3%;
 }
 .planstatus2{
        padding: 10px;
        padding-left: 20px;
        width: 45%;
 }

 .plancontainer{
         flex-wrap: wrap;
         align-items: center;
         width: 100%;

 }
 .tablehead1{
      display: none;
 }
 .tablehead{
     border-radius: 0;
     padding: 5px
 }
 .height-auto{
   height: auto;
 }
 .width95{
       width: 95%;
     }
     .width100{
       width: 100%;
     }
}
</style>