---
import { getEntry } from 'astro:content'
import EmailCTA from '../common/EmailCTA.astro'

const Data = await getEntry('pricing', 'consultation')
const data = Data.data
---

<div
data-aos="fade-in" data-aos-duration="850" data-aos-offset="200"
  class='min-h-[80vh] bg-gradient-to-b from-white from-5% via-[#30BABA95] via-50% to-white to-95% flex items-center justify-center  relative'
>
  <div class='flex gap-24 items-center max-sm:flex-col max-sm:gap-10'>
    <div class=''>
      <p class='text-4calc text-textPrimary leading-none font-normal'>
        {data.description}
      </p>
      <p class='text-4calc leading-none font-bold text-textPrimary'>
        {data.title_1}
        <br />
        {data.title_2}
      </p>
    </div>
    
    <div class="mb-[50px] w-full max-w-xl">
      <EmailCTA formId="pricingCtaForm" pageSource="pricing-consultation" buttonText={data.button?.text || "Get Started →"} />
    </div>
  </div>
</div>
