---
interface FAQContentType {
  heading: string
  faqs: Array<{
    question: string
    answer: string
  }>
}
import * as FAQContent from '../../content/pricing/faq.mdx'
const faqContent = FAQContent as unknown as FAQContentType

let heading = faqContent.heading
let faqs = faqContent.faqs

---

<style>
  .faq {
    margin: 5px 0;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
  }

  .faq-answer {
    background-color: white;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
    display: none;
    transform: translateY(-5px);
  }
</style>

<div
  class='flex max-md:flex-col max-md:items-center gap-20 max-sm:gap-5 w-full justify-center py-20 min-h-[600px]'
>
  <div class='mt-8 flex flex-col gap-4 max-sm:gap-2 p-2'>
    <p class='text-2calc font-bold text-textblack'>
      Any Question? <br /> Checkout the FAQ
    </p>
    <p>Feel free to reach out to us for more doubts</p>
    <a
      href='/Contact-us'
      class='p-2 px-3 w-max font-semibold rounded-lg text-sm bg-primary hover:bg-primaryHover duration-300 text-white mt-4'
    >
      Contact Us
    </a>
  </div>
  <div id='faq-container' class='w-[50%] max-sm:w-full mb-20 max-sm:px-4 m-4'>
    {
      faqs.map((faq, index) => (
        <div class='faq'>
          <div
            class={`faq-question z-10 cursor-pointer flex justify-between items-center py-6 shadow-[0px_0px_80px_rgba(0,0,0,0.1)]`}
            data-index={index}
          >
            <span class='ml-5 text-textblack text-xl font-bold'>
              {faq.question}
            </span>
            <i class='icon fas fa-chevron-down mr-5 text-textblack' />
          </div>
          <div class='faq-answer text-sm text-textblack shadow-lg  border-t-[1px] border-[#D3D3D3] p-4 py-6'>
            {faq.answer}
          </div>
        </div>
      ))
    }
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const faqContainer = document.getElementById('faq-container')

    faqContainer?.addEventListener('click', (event) => {
      const target = event.target as HTMLElement
      const faqQuestion = target.closest('.faq-question') as HTMLElement
      if (!faqQuestion) return

      const index = faqQuestion.dataset.index
      const faqAnswer = faqQuestion.nextElementSibling as HTMLElement

      if (faqAnswer.style.display === 'block') {
        faqAnswer.style.display = 'none'
        faqQuestion.querySelector('.icon')!.classList.remove('fa-chevron-up')
        faqQuestion.querySelector('.icon')!.classList.add('fa-chevron-down')
      } else {
        const currentlyOpen = faqContainer.querySelector(
          '.faq-answer[style*="display: block"]'
        ) as HTMLElement
        if (currentlyOpen) {
          currentlyOpen.style.display = 'none'
          currentlyOpen
            .previousElementSibling!.querySelector('.icon')!
            .classList.remove('fa-chevron-up')
          currentlyOpen
            .previousElementSibling!.querySelector('.icon')!
            .classList.add('fa-chevron-down')
        }

        faqAnswer.style.display = 'block'
        faqQuestion.querySelector('.icon')!.classList.remove('fa-chevron-down')
        faqQuestion.querySelector('.icon')!.classList.add('fa-chevron-up')
      }
    })
  })
</script>
