---
import ConsulationForm from "../components/comman/ConsultationForm.astro";
import Hero from "../components/home/Hero.astro";
import Spinner from "../components/home/Spinner.astro";
import Layout from "../layouts/Layout.astro";
---

<style>
  .teal-dark-heading{
    color: var(--secondary-dark);
    font-size: 2.5rem;
    font-weight: 700;
  }
  .neutral-dark-text{
    color: var(--neutral-dark);
    font-weight: 400;
    font-size: 1.125rem;
  }
  .teal-primary-btn{
    color: var(--primary);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
  }
</style>

<Layout>
  <Hero/>

  <Spinner/>

  <!-- How it works (Steps) -->
  <section class="overflow-hidden pt-5 pb-5" style="background-color: white;">
    <div class="container pt-2 pt-sm-4 pt-lg-5">

      <!-- Step -->
      <div class="row align-items-center position-relative pb-5 pb-lg-0 mb-1 mb-sm-2 mb-md-4 mb-lg-0">
        <div class="col-md-6 col-xl-5 offset-lg-1 order-md-2 pb-2 pb-md-0 mb-4 mb-md-0" data-aos="fade-left" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
          <img class="d-dark-mode-none" src="assets/img/landing/saas-2/steps/01-light.png" width="525" alt="Image">
          <img class="d-none d-dark-mode-block" src="assets/img/landing/saas-2/steps/01-dark.png" width="525" alt="Image">
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4 offset-xl-1 order-md-1" data-aos="fade-right" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
          <div class="pe-md-4 pe-lg-0">
            <h3 class="h2 mb-3 mb-lg-4 teal-dark-heading">Say goodbye to Python dependency hell</h3>
            <p class="pb-1 pb-lg-0 mb-4 mb-lg-5 neutral-dark-text">Thanks to our platform, developed using advanced data management methods, data quality reaches 100%, which is 20% better than other platforms.</p>
            <a class="teal-primary-btn" href="#">Get connected<i class="ai-arrow-right ms-2"></i></a>
          </div>
        </div>
      </div>

      <!-- Step -->
      <div class="row align-items-center position-relative pb-5 pb-lg-0 mb-1 mb-sm-2 mb-md-4 mb-lg-0">
        <div class="col-md-6 col-xl-5 offset-xl-1 pb-2 pb-md-0 mb-4 mb-md-0" data-aos="fade-right" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
          <img class="d-dark-mode-none" src="assets/img/landing/saas-2/steps/02-light.png" width="473" alt="Image">
          <img class="d-none d-dark-mode-block" src="assets/img/landing/saas-2/steps/02-dark.png" width="473" alt="Image">
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1" data-aos="fade-left" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
          <div class="ps-md-4 ps-lg-0">
            <h3 class="h2 mb-3 mb-lg-4 teal-dark-heading">Run Dataflow on any cloud</h3>
            <p class="pb-1 pb-lg-0 mb-4 mb-lg-5 neutral-dark-text">Thanks to our platform, developed using advanced data management methods, data quality reaches 100%, which is 20% better than other platforms.</p>
            <a class="teal-primary-btn" href="#">Get connected<i class="ai-arrow-right ms-2"></i></a>
          </div>
        </div>
      </div>

      <!-- Step -->
      <div class="row align-items-center position-relative">
        <div class="col-md-6 col-xl-5 offset-lg-1 order-md-2 d-md-flex justify-content-end pb-2 pb-md-0 mb-4 mb-md-0" data-aos="fade-left" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
          <img class="d-dark-mode-none" src="assets/img/landing/saas-2/steps/03-light.png" width="473" alt="Image">
          <img class="d-none d-dark-mode-block" src="assets/img/landing/saas-2/steps/03-dark.png" width="473" alt="Image">
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4 offset-xl-1 order-md-1" data-aos="fade-right" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
          <div class="pe-md-4 pe-lg-0">
            <h3 class="h2 mb-3 mb-lg-4 teal-dark-heading">Manage your data connection across tools</h3>
            <p class="pb-1 pb-lg-0 mb-4 mb-lg-5 neutral-dark-text">Thanks to our platform, developed using advanced data management methods, data quality reaches 100%, which is 20% better than other platforms.</p>
            <a class="teal-primary-btn" href="#">Get connected<i class="ai-arrow-right ms-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</Layout>


