---
import { getEntry } from 'astro:content'

const Data = await getEntry('features', 'python-dependency-hell')
const data = Data.data
const button = Data.data.button
---

<div
  class='min-h-screen w-full py-24 flex items-center justify-center gap-20 max-sm:flex-col max-sm:gap-10 bg-[#F8FAFC] max-sm:flex-col max-sm:px-[20px] max-sm:py-[30px]'
>
  <div class='w-[30%] img-container'>
    <img
      src='/assets/images/pythondependencyimage2.svg'
      class='img-container'
    />
  </div>
  <div class='text-container w-2/5'>
    <h1 class='text-2calc font-bold mb-8 text-textblack'>{data.title2}</h1>
    <p class='text-base w-11/12 text-textblack'>{data.description2}</p>
    <a href='/start-free-trail'>
      <button
        class='custom-button bg-primary hover:bg-[#30baba] px-3 py-2 text-white rounded-lg shadow-md flex text-base items-center gap-x-2 mt-10'
        style='font-family: Roboto;'
      >
        {button}
        <img
          class='button-img'
          src='/assets/images/arrowright.svg'
          alt='Arrow right'
        />
      </button>
    </a>
  </div>
</div>
<style>
  .custom-button:hover {
    background-color: #30baba;
  }

  .button-img {
    filter: brightness(0) invert(1);
  }
  @media (max-width: 440px) {
    .text-container {
      width: 100%;
      margin-bottom: 40px;
    }
    .img-container {
      width: 100%;
      height: auto;
    }
  }
</style>
