---
const { image, title, description, bg } = Astro.props
---

<div
  class={`card transition-all duration-100 ease-in-out w-[280px] h-[250px]  p-7 py-6  text-textblack hover:text-white ${bg ? bg : "bg-white"} hover:bg-[#364152] flex flex-col items-start justify-evenly rounded-[36px] max-sm:rounded-3xl group`}
>
  <div class='size-[40px] max-sm:my-1 max-sm:size-[30px]'>
    <img src={image} class='w-full h-full object-contain image-container' />
  </div>
  <h3 class='text-xl max-sm:my-1 max-sm:text-lg font-semibold'>
    {title}
  </h3>
  <p class='text-sm max-sm:my-1 max-sm:text-xs'>
    {description}
  </p>
</div>
<style>
  .card:hover .image-container {
    filter: brightness(0) invert(1);
  }
  @media (max-width: 500px) {
    .card {
      width: 100%;
      padding: 15px;
      height: auto;
    }
  }
</style>
