---
import { getEntry } from 'astro:content'

const Data = await getEntry('home', 'home')
const data = Data.data.cta
---

<div
  class='min-h-[85vh] bg-[#F6F9FC] flex items-center justify-center font-helvetica-neue relative overflow-hidden'
>
  <div class='flex flex-col gap-10 items-center z-10 max-sm:px-[20px]'>
    <p
      class='text-4calc max-sm:w-full text-center leading-none font-bold text-textPrimary'
    >
      {data.title_1}
      <br />
      {data.title_2}
    </p>
    <p
      class='w-[700px] max-sm:w-full text-lg max-sm:text-sm text-center text-textPrimary leading-relaxed tracking-wide'
    >
      {data.description}
    </p>
    <a
      href='/contact-us'
      class='w-max px-16 max-sm:px-8 bg-primary hover:bg-primaryHover duration-300 h-14 max-sm:h-10 rounded-lg flex items-center justify-center text-white font-bold text-lg max-sm:text-xs'
    >
      {data.button}
    </a>
  </div>

  <img
    src='/assets/images/bg-pattern-left.svg'
    alt=''
    class='z-0 absolute top-0 left-0 h-screen max-sm:hidden'
  />
  <img
    src='/assets/images/bg-pattern-right.svg'
    alt=''
    class='z-0 absolute bottom-0 right-0 h-screen max-sm:hidden'
  />
  <img
    src='/assets/images/mobile-consultation-up.svg'
    alt='consultation-up'
    class='z-0 absolute top-0 left-0 w-full hidden max-sm:block'
  />
  <img
    src='/assets/images/mobile-consultation-down.svg'
    alt='consultation-down'
    class='z-0 absolute bottom-0 right-0 w-full hidden max-sm:block'
  />
</div>
