---
import { getEntry } from 'astro:content'

const Data = await getEntry('Home', 'home')
const data = Data.data.cta
---

<div
    class='min-h-screen bg-[#F6F9FC] flex items-center justify-center font-helvetica-neue relative'
>
    <div class="flex flex-col gap-8 items-center">
        <p
            class='text-4calc text-center leading-none font-bold  text-textPrimary'
        >
            New life for data <br /> begins today
        </p>
        <p class='w-[700px] text-lg text-center  text-textPrimary leading-relaxed'>
            Expect a data engineering expert to evaluate your data needs,
            followed by a live product demonstration. This session will provide
            insights into how you can supercharge your data operations,
            enhancing productivity and efficiency
        </p>
        <button class="w-max px-16 bg-primary h-14 rounded-lg flex items-center justify-center text-white font-bold text-lg ">
            30 mins FREE Consultation
        </button>
    </div>

    <img src="/assets/images/bg-pattern-left.svg" alt="" class="absolute top-0 left-0 h-screen" /> 
    <img src="/assets/images/bg-pattern-right.svg" alt="" class="absolute bottom-0 right-0 h-screen" /> 
</div>
