---
import { getEntry } from "astro:content";

const Data = await getEntry("home", "home");
const hero = Data.data.hero;
---

<div
  class="py-20 flex items-center justify-center bg-[#FAFAFA] min-h-[300px] relative w-full"
>
  <div class="flex items-center gap-10 w-full max-sm:w-[90%]">
    <div class="lg:flex-1 flex items-start justify-center">
      <div
        class="w-full lg:w-[550px] font-helvetica-neue p-4 md:pl-6 max-sm:p-0 flex flex-col gap-3"
      >
        <p
          class="text-6xl max-sm:text-5xl text-gray-900 font-bold leading-none my-4 lg:w-[550px]"
        >
          {hero.title}
        </p>
        <p
          class="text-2xl lg:w-[550px] text-textblack font-medium leading-normal my-4 traking-wider"
        >
          {hero.description}
        </p>
        <a href="/start-free-trail">
          <button
            class="px-[40px] max-sm:px-[20px] py-[15px] mb-[50px] text-white hover:text-[#f9f9f9] font-arimo rounded-md inline-flex items-center text-lg font-semibold tracking-wide shadow-md bg-[#30BABA]"
          >
            {hero.cta_button}
            <!-- <img src='/assets/images/arrowright.svg' alt='' class='size-5 ml-1' /> -->
          </button>
        </a>
      </div>
    </div>
    <div class="lg:flex-1 w-full relative" style="height: -webkit-fill-available;">
      <div class="hero-image">
        <img src="/assets/images/landing/hero-image.png" alt="Dataflow Dashboard" class="absolute right-0 h-full w-full"/>
      </div>
    </div>
  </div>

  <div class="absolute left-0 top-0">
    <img
      src="/public/assets/images/dataflow-bg-pattern.svg"
      alt="dataflow-bg-pattern"
    />
  </div>
</div>
<style>
  @media (max-width: 1059px) {
    .hero-image {
      display: none;
    }
  }
  @media (max-width: 500px) {
    .hero-image {
      display: none;
    }
    .text1 {
      font-size: 30px;
    }
    .text2 {
      font-size: 50px;
    }
  }
</style>
