---
import Consultation_form from "../comman/ConsultationForm.astro";
---

<style>
    .hero-section {
        background-color: var(--primary);
        width:100%;
        min-height: calc(100vh - 5.9375rem);
        height:fit-content;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    @media (max-width: 1024px) {
        .hero-section {
            padding-top: 4rem;
        }
    }
    .cont{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero-text{
        width: 61.96%;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .hero-text1{
        color:var(--secondary-very-light);
        font-size:5.225rem;
        font-weight: 700;
        line-height:108%;
        font-feature-settings: "clig" off, "liga" off;
    }
    .hero-text2{
        color:var(--secondary-dark);
        font-size:9.125rem;
        font-weight:700;
        line-height: 108%;
        font-feature-settings: 'clig' off, 'liga' off;
    }
    .spinner{
        width: 34.75%;
    }
</style>

<section class="hero-section d-flex align-items-center">
    <div class="container my-auto">

        <div class="cont">
            <!--Hero text-->
            <div class="hero-text">
                <h4 class="hero-text1">
                    Get data platform<br/> ready in less than
                </h4>
                <h3 class="hero-text2">
                    Thirty<br/> Minutes
                </h3>
            </div>
            
            <!--Spinner -->
            <div class="spinner">
                <img style="width:100%" src="/assets/images/home/hour-glass.svg"/>
            </div>
        </div>
        
    </div>
</section>
