---
import Animationsandclock from '../comman/Animationsandclock.astro'
import { getEntry } from 'astro:content'

const Data = await getEntry('Home', 'home')
const hero = Data.data.hero
---

<div class='py-20 flex items-center justify-center bg-[#30BABA] min-h-[300px]'>
  <div class='flex items-center w-max gap-10'>
    <div class='w-full font-helvetica-neue p-4 max-sm:p-0 max-sm:text-center'>
      <p
        class='text-[70px] lg:w-[650px] max-sm:text-[30px] text-[#C0FFFF] font-medium leading-none my-4 traking-wide'
      >
        {hero.title1}
      </p>
      <p
        class='text-[130px] max-sm:text-[80px] text-[#175C5C] font-bold leading-none my-4 lg:w-[200px]'
      >
        {hero.title2}
      </p>
      <a href='/GetStartedForm'>
        <button
          class='px-[20px] py-[10px] bg-white hover:bg-[#f9f9f9] rounded-md inline-flex items-center text-lg font-normal tracking-wide shadow-md text-[#30BABA]'
        >
          {hero.cta_button}
          <img src='/assets/images/arrowright.svg' alt='' class='size-5 ml-1' />
        </button>
      </a>
    </div>
    <div class='animations-container'>
      <Animationsandclock />
    </div>
  </div>
</div>
<style>
  @media (max-width: 1059px) {
    .animations-container {
      display: none;
    }
  }
  @media (max-width: 500px) {
    .animations-container {
      display: none;
    }
    .text1 {
      font-size: 30px;
    }
    .text2 {
      font-size: 50px;
    }
  }
</style>
