---
import Animationsandclock from "../comman/Animationsandclock.astro";
import { getEntry } from "astro:content";

const Data = await getEntry("Home", "home");
const hero = Data.data.hero;
---
<div class="py-24 flex items-center bg-[#30BABA]  min-h-[300px] ">
  <div class="w-full lg:w-3/5 2xl:pl-[12%] xl:pl-[10%] lg:pl-[10%] text-center lg:text-left">
    <p
      class="text1 text-[#C0FFFF] font-bold leading-none text-5calc mb-[5%]"
      style="font-family: Arial, Helvetica, sans-serif"
    >
      {hero.title1}
    </p>
    <p
      class="text2 text-6calc text-[#0B7474] font-bold leading-none"
      style="font-family: Arial, Helvetica, sans-serif"
    >
      {hero.title2}
    </p>
  </div>
  <div class="animations-container  right-[25%] lg:right-[15%] xl:right-[10%] overflow-hidden">
    <Animationsandclock />
  </div>
</div>
<style>
@media (max-width: 1059px) {
  .animations-container {
    display: none;
  }

}
@media (max-width: 500px) {
  .animations-container {
    display: none;
  }
  .text1{
     font-size: 30px;
  }
  .text2{
    font-size: 50px;
  }
}
</style>
