---

import { getEntry } from "astro:content";

const Data = await getEntry("Home", "home");
const data = Data.data.Section1;
---
<div class="transition-all duration-700 ease-in-out  h-screen w-full bg-[#FBE2F0] flex items-center justify-center group hover:bg-[#D40F7D]">
  <div class="h-[60vh] w-2/6 flex flex-col justify-center">
    <h3 class="transition-all duration-700 ease-in-out text-calc text-black font-bold  mb-[5%] group-hover:text-white group-hover:text-2calc w-4/5" style=" font-family: Arimo;">{data.title}</h3>
    <p class="transition-all duration-700 ease-in-out text-black text-base group-hover:text-white group-hover:text-lg w-3/4"  style=" font-family: Arimo;">{data.description}</p>
    <button class="custom-button2 transition-all duration-300 ease-in-out text-[#30BABA] flex items-center justify-center bg- text-base items-center gap-x-1 mt-14 h-10 w-32 group-hover:bg-[#feecec] group-hover:shadow-md group-hover:rounded-lg hover:-translate-y-1" onclick="" style="font-family: Roboto;">
    {Data.data.LearnMoreBtn}
      <img  src="/assets/images/arrowright.svg" height="20px" width="20px">
  </button>
        </div>
  <div class="h-[60vh] w-2/6 flex flex-col justify-start items-end">
    <img src="/assets/images/runanycloud.png" class="h-[90%] w-[90%] transition-all duration-700 ease-in-out group-hover:scale-125"/>
  </div>
</div>
<style>
  .custom-button2:hover{
  background-color: #ffffff; /* Change button background color */

}
</style>