---
import { getEntry } from "astro:content";

const Data = await getEntry("Home", "home");
const data = Data.data.Section3;
---

<div class="responsive-container transition-all duration-700 ease-in-out w-full bg-[#E1E6FA] h-screen flex md:flex-row flex-col items-center justify-center group hover:bg-[#4169E1] ">
  <div class="content-container h-[80vh] md:w-2/6 w-full flex flex-col justify-center items-start md:items-start md:mb-0 mb-8 px-4 md:px-0">
    <h3 class="transition-all duration-700 ease-in-out text-calc text-textblack font-bold mb-[5%] group-hover:text-white group-hover:text-2calc w-full md:w-4/5" style="font-family: Arimo;">
      {data.title}
    </h3>
    <p class="transition-all duration-700 ease-in-out text-textblack text-base group-hover:text-white group-hover:text-lg w-full md:w-3/4" style="font-family: Arimo;">
      {data.description}
    </p>
    <a href="/pythondependency">
      <button class="custom-button2 transition-all duration-300 ease-in-out text-[#30BABA] flex items-center justify-center bg- text-base items-center gap-x-1 mt-14 h-10 w-32 group-hover:bg-[#feecec] group-hover:shadow-md group-hover:rounded-lg hover:-translate-y-1" style="font-family: Roboto;">
        {Data.data.LearnMoreBtn}
        <img src="/assets/images/arrowright.svg" height="20px" width="20px">
      </button>
    </a>
  </div>
  <div class="image-container h-[60vh] md:w-2/6 w-full flex flex-col justify-start items-center md:items-end">
    <img src="/assets/images/rundata2.png" class="h-[90%] w-[90%] transition-all duration-700 ease-in-out group-hover:scale-125" />
  </div>
</div>

<style>
  .custom-button2:hover {
    background-color: #ffffff; /* Change button background color */
  }

  @media (max-width: 1059px) {
    .responsive-container {
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 20px;
      height: auto;
    }
    .content-container {
      margin-bottom: 20px;
  
    }
    .image-container {
      margin-top: 20px;
    }
  }
</style>
