---

---

<section class='spinner-section'>
  <div class='container'>
    <div class='cont'>
      <div class='spinner-gif'>
        <img src='/assets/images/home/logo-spinner.svg' alt='Dataflow animated spinner logo' />
      </div>

      <div class='spinner-text'>
        <h4 class='spinner-heading'>Best in class apps in one platform like</h4>

        <div class='spinner-switch-container'>
          <h3 class='switch-text1 spinner-switch-text spinner-switch-hidden'>
            Airflow
          </h3>
          <h3
            id='text1'
            class='switch-text spinner-switch-text spinner-switch-layer'
          >
            Airflow
          </h3>
          <h3
            id='text2'
            class='inactive switch-text spinner-switch-text spinner-switch-layer'
          >
          </h3>
        </div>

        <a href='/apps' title='Explore Dataflow apps' aria-label='Explore Dataflow apps' class='learn-btn'>
          Learn More<i class='ai-arrow-right ms-2' aria-hidden='true'></i>
        </a>
      </div>
    </div>
  </div>
</section>

<script>
  const text1 = document.getElementById('text1') as HTMLElement
  const text2 = document.getElementById('text2') as HTMLElement
  const arr = ['Airflow', 'Jupyter', 'DBT', 'MlFLow', 'Theia Id']
  const color = ['#5FCFCF', '#32CD32', '#FFD700', '#FFA500', '#4169E1']
  const len = arr.length
  let index = 0
  let tab = 1
  text1.innerText = arr[index]
  text1.style.color = color[index]

  async function switchText() {
    index = (index + 1) % len
    if (tab === 1) {
      text2.innerText = arr[index]
      text2.style.color = color[index]
      text1?.classList.add('inactive')
      text2?.classList.remove('inactive')
      tab = 2
    } else {
      text1.innerText = arr[index]
      text1.style.color = color[index]
      text2.classList.add('inactive')
      text1.classList.remove('inactive')
      tab = 1
    }
    setTimeout(() => {
      switchText()
    }, 1500)
  }
  setTimeout(() => {
    switchText()
  }, 1500)
</script>
