---

---

<style>
  .spinner-section {
    background-color: var(--neutral-light);
    width: 100%;
    padding: 10.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .spinner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4.25rem;
    width: 50%;
  }
  .spinner-heading {
    color: black;
    font-size: 6.25rem;
    font-weight: 700;
    line-height: 108%;
    font-feature-settings:
      "clig" off,
      "liga" off;
  }
  .cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inactive {
    animation-name: top;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transform: translateY(10rem);
  }
  @keyframes top {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(-10rem);
      opacity: 100%;
    }
    50.001% {
      opacity: 0%;
    }
    100% {
      transform: translateY(10rem);
      opacity: 0;
    }
  }
  .switch-text {
    transition: all 1s;
  }
</style>

<section class="spinner-section">
  <div class="container">
    <div class="cont">
      <div style="width:45%">
        <img src="/assets/images/home/logo-spinner.svg" />
      </div>

      <div class="spinner-text">
        <h4 class="spinner-heading">
          Best in class tools in one platform like
        </h4>

        <div style="position: relative; width:100%; overflow-y:hidden;">
          <h3 style="font-size: 8rem; opacity:0">Airflow</h3>
          <h3
            id="text1"
            class="switch-text"
            style="font-size: 8rem; position:absolute; top:0"
          >
            Airflow
          </h3>
          <h3
            id="text2"
            class="inactive switch-text"
            style="font-size: 8rem;  position:absolute; top:0"
          >
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const text1 = document.getElementById("text1") as HTMLElement;
  const text2 = document.getElementById("text2") as HTMLElement;
  const arr = ["Airflow", "Jupyter", "DBT", "MlFLow", "Theia Id"];
  const color = ["#5FCFCF", "#32CD32", "#FFD700", "#FFA500", "#4169E1"];
  const len = arr.length;
  let index = 0;
  let tab = 1;
  text1.innerText = arr[index];
  text1.style.color = color[index];

  async function switchText() {
    index = (index + 1) % len;
    if (tab === 1) {
      text2.innerText = arr[index];
      text2.style.color = color[index];
      text1?.classList.add("inactive");
      text2?.classList.remove("inactive");
      tab = 2;
    } else {
      text1.innerText = arr[index];
      text1.style.color = color[index];
      text2.classList.add("inactive");
      text1.classList.remove("inactive");
      tab = 1;
    }
    setTimeout(() => {
      switchText();
    }, 1500);
  }
  setTimeout(() => {
    switchText();
  }, 1500);
</script>
