---
import { getEntry } from 'astro:content'
import EmailCTA from '../common/EmailCTA.astro'

const Data = await getEntry('enterprise', 'enterprise')
const ctaSection = Data?.data?.cta_section || {}
---

<div class="py-20 flex flex-col gap-10 items-center justify-center bg-gradient-to-b from-white from-5% via-[#30BABA] via-50% to-white to-95% min-h-[300px] lg:h-screen">
    <h2 class="w-1/2 max-md:w-[90%] text-7xl max-md:text-5xl max-sm:text-3xl font-bold text-[#175C5C] text-center">
        {ctaSection.title}
    </h2>
    <p class="text-2xl max-md:text-xl max-sm:text-lg text-white tracking-wide text-center max-w-4xl px-4">
        {ctaSection.description}
    </p>
    <div class="mb-[50px] w-full max-w-3xl">
        <EmailCTA formId="enterpriseCtaForm" pageSource="enterprise-cta" buttonText={ctaSection.button?.text || "Get Started →"} />
    </div>
</div>