---
import { getEntry } from "astro:content";

const Data = await getEntry("ManageYourData", "manageyourdata");
const data = Data.data.section2;
const button = Data.data.button;
---
<div class=" container-top w-full min-h-screen py-4 flex items-center justify-evenly">
    <div class="w-[25%] img-container">
    <img src="assets/images/manageyourdatasection2image.png" class="img-container"/>
    </div>
    <div class="text-container w-2/5 ">
        <h1 class="text-2calc font-bold mb-[5%] text-textblack" style="font-family: Arimo;">{data.title}</h1>
        <p class="text-lg w-11/12 text-textblack" style="font-family: Arimo;">{data.description}</p>
        <a href="/GetStartedForm">
          <button class="custom-button bg-secondary px-3 py-2 duration-700 text-white rounded-lg shadow-md flex text-base items-center gap-x-2 mt-14 hover:-translate-y-1" style="font-family: Roboto;">
            {button}
            <img class="button-img" src="/assets/images/arrowright.svg" alt="Arrow right" />
          </button>
        </a>
      </div>
</div>
<style>

.custom-button:hover {
    background-color: #30BABA;
  }

  .button-img {
    filter: brightness(0) invert(1);
  }
  @media (max-width:440px) {
     .container-top{
      width: 100%;
      height: auto;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      padding-bottom: 30px;
        flex-direction:column;
     }
    .text-container{
        width: 100%;
        margin-bottom: 20px;
    }
    .img-container{
        width: 100%;
        height:auto;
    }
  }
</style>