---
import { getEntry } from 'astro:content'

const Data = await getEntry('features', 'manage-your-data')
const data = Data.data.section2
const button = Data.data.button
---

<div
  class='w-full py-24 flex items-center justify-center gap-20 max-sm:gap-10 max-sm:flex-col max-sm:px-[20px] max-sm:py-[30px]'
>
  <div class='w-[30%] img-container'>
    <img src='/assets/images/ManageAcross.svg' class='img-container' />
  </div>
  <div class='text-container w-[40%]'>
    <h1 class='text-2calc font-bold mb-8 text-textblack'>{data.title}</h1>
    <p class='text-lg w-11/12 text-textblack'>{data.description}</p>
    <a href='/start-free-trail'>
      <button
        class='custom-button bg-primary hover:bg-[#30baba] px-3 py-2 duration-700 text-white rounded-lg shadow-md flex text-base items-center gap-x-2 mt-14'
        style='font-family: Roboto;'
      >
        {button}
        <img
          class='button-img'
          src='/assets/images/arrowright.svg'
          alt='Arrow right'
        />
      </button>
    </a>
  </div>
</div>
<style>
  .custom-button:hover {
    background-color: #30baba;
  }

  .button-img {
    filter: brightness(0) invert(1);
  }
  @media (max-width: 440px) {
    .text-container {
      width: 100%;
      margin-bottom: 20px;
    }
    .img-container {
      width: 100%;
      height: auto;
    }
  }
</style>
