  ---
import { getEntry } from "astro:content";
import CustomButton from "../../common/CustomButton.astro";

const Data = await getEntry("features", "manage-your-data-connections");
const data = Data.data.TopSection;
const button = Data.data.button;
---

<div
  class="min-h-screen w-full flex items-center justify-center max-md:flex-col max-md:px-[20px] max-md:py-[30px] z-10"
>
  <div class="flex-1 flex justify-center gap-8 max-md:w-[90%]">
    <div class="w-full flex flex-col gap-6 lg:w-2/3">
      <h1
        class="text-6xl max-md:text-5xl max-sm:text-2xl leading-snug tracking-wide font-bold text-black"
      >
        {data.title}
      </h1>
      <p class="text-lg max-sm:text-sm  text-textblack leading-tight">
        {data.description}
      </p>
      <CustomButton href={"https://docs.dataflow.zone/getting-started/installation"} label={data.cta_text} target="_blank" />
    </div>
  </div>
  <div class="flex-1 h-auto flex items-center justify-center">
    <img
      src="/assets/images/landing/hero-image.png"
      class="h-full w-full object-contain"
      alt="Description of image"
    />
  </div>

  <!-- BG Pattern -->
  <div class="absolute left-0 top-0 z-[-1]">
    <img
      src="/assets/images/dataflow-bg-pattern.svg"
      alt="dataflow-bg-pattern"
    />
  </div>
</div>

<style>
  .custom-button:hover {
    background-color: #30baba;
  }

  .button-img {
    filter: brightness(0) invert(1);
  }
  @media (max-width: 440px) {
    .text-container {
      width: 100%;
      margin-bottom: 20px;
    }
    .img-container {
      width: 100%;
      height: auto;
    }
  }
</style>
