---
import { getEntry } from "astro:content";

const Data = await getEntry("common", "common");
const supported_by = Data.data.supported_by;
---

<div
  class="w-full lg:min-h-[400px] py-10 flex flex-col items-center justify-center gap-12"
>
  <div data-aos="fade-up" data-aos-duration="700" data-aos-offset="200">
    <h2 class="text-4xl text-textblack font-bold max-sm:px-3">
      {supported_by.title}
    </h2>
  </div>
  <div
    class="flex items-center gap-12 max-sm:flex-col"
    data-aos="fade-up"
    data-aos-duration="700"
    data-aos-offset="350"
  >
    {
      supported_by.incubators.map((item, index) => (
        <div>
          <img
            src={item.logo}
            alt={item.name}
            class="h-[30px] max-sm:h-[20px]"
          />
        </div>
      ))
    }
  </div>
</div>
