---
import CustomButton from "../../common/CustomButton.astro"

const { title, image, logo, link, mirror } = Astro.props
---

<style>
  [data-aos='fade-bounce'] {
    transform: translateY(200px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.1, -0.6, 0.1, 1);

    transition-duration: 1s;
    transition-delay: 0.5s;
  }

  [data-aos='fade-bounce'].aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
</style>

<div
  class={`min-h-[80vh] py-10 lg:px-[15%] max-md: ${mirror ? 'bg-white' : 'bg-[#F8FAFC]'} flex items-center justify-center max-sm:flex-col`}
  
>
  <div class={`flex gap-40 max-md:gap-20 ${!mirror && 'flex-row-reverse'} max-md:px-[10%]  max-md:flex-col max-md:items-center`}>
    <img data-aos='fade-bounce' src={image} alt='' class='w-max max-h-[500px] max-sm:h-max' />
    <div
      class={`max-sm:py-10 h-full flex flex-col max-sm:items-center gap-10 max-sm:gap-6 ${!mirror && ''}`}
    >
      <img src={logo} alt='airflow' class='h-[60px] max-sm:h-[40px] w-max' />
      <p
        class='text-3xl max-sm:text-2xl text-justify leading-tight text-[#303030]'
        set:html={title.replace(/\*\*(.+?)\*\*/g, '<strong class="font-bold">$1</strong>')}
      ></p>
      <CustomButton
          label="Learn More"
          href={link}
          variant="primary"
          className="font-semibold"
        />
    </div>
  </div>
</div>
