---
import RingAnimation from "../comman/RingAnimation.astro";
import { getEntry } from "astro:content";

const Data = await getEntry("learn", "learn");
console.log(Data)

---

<div class="h-[100vh] w-full flex justify-center">
    <div class="h-full w-6/12  flex flex-col justify-center  items-end pl-[8%]" style="font-family: Arimo;">
        <div>
        <h1 class="text-8calc font-bold text-start text-[#303030] mb-12">{Data.data.toptitle}</h1>
        <p class="text-0calc font-medium text-start text-[#303030]">{Data.data.topdescription}</p>
       </div>
    </div>
    <div class="h-full w-6/12  overflow-hidden flex items-center justify-center">
        <RingAnimation/>
         </div>
</div>