---
import RingAnimation from "../comman/RingAnimation.astro";
import { getEntry } from "astro:content";

const Data = await getEntry("learn", "learn");

---

<div class=" w-full flex justify-center items-center">
    <div class=" responsive-container  w-6/12  flex flex-col justify-center  items-end pl-[8%]" style="font-family: Arimo;">
        <div>
        <h1 class="text-8calc font-bold text-start text-textblack mb-12">{Data.data.toptitle}</h1>
        <p class="text-0calc font-medium text-start text-textblack">{Data.data.topdescription}</p>
       </div>
    </div>
    <div class="  animation-container py-20 h-full w-6/12  overflow-hidden flex items-center justify-center">
        <RingAnimation/>
         </div>
</div>
<style>
     @media (max-width: 1000px) {
    .responsive-container {
      width: 80%;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .animation-container {
      display: none;
    }
  }
</style>