---
import Navbar from '../components/comman/Navbar.astro';
import Footer from '../components/comman/Footer.astro';

export interface Props {
  title?: string;
}

const {
  title = "Dataflow"
} = Astro.props;
---
<script src="../scripts/aos-init.js"/>

<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link rel="stylesheet" href="/assets/css/theme.min.css" />
    <link rel="stylesheet" href="/assets/icons/around-icons.min.css" />
    <!-- Import Google font (Inter) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet" id="google-font">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="page-wrapper" style="background-color: #28282E;">
        <Navbar/>
        <div style="height:5.9375rem;"></div>
        <slot/>
        <Footer/>
    </main>
  </body>

</html>
