---
import RingAnimation from '../common/RingAnimation.astro'
import { getEntry } from 'astro:content'

const Data = await getEntry('apps', 'apps')
---

<div
  class='w-full min-h-screen flex justify-center items-center max-sm:items-start max-sm:mt-20 max-sm:mb-60 max-sm:min-h-max'
>
  <div
    class='responsive-container w-6/12 flex flex-col justify-center items-end pl-[8%] max-sm:pl-[20px] max-sm:w-full'
  >
    <div>
      <h1 class='text-8calc font-bold text-start text-textblack mb-10'>
        {Data.data.toptitle}
      </h1>
      <p class='text-0calc font-medium text-start text-textblack mb-10'>
        {Data.data.topdescription}
      </p>
      <a
        href='/contact-us'
        class='w-max px-16 max-sm:px-8 bg-primary hover:bg-primaryHover duration-300 h-14 max-sm:h-10 rounded-lg flex items-center justify-center text-white font-bold text-lg max-sm:text-xs'
      >
        30 mins Free Consultation
      </a>
    </div>
  </div>
  <div
    class='animation-container py-20 h-full w-6/12 overflow-hidden flex items-center justify-center'
  >
    <RingAnimation />
  </div>
</div>
<style>
  @media (max-width: 1000px) {
    .animation-container {
      display: none;
    }
  }
</style>
